<div>
    <ng-container *ngIf="sample!=null; else SamplesList">
        <h3>Sample Detail</h3>
        <ul>
            <li>Ref: {{ sample.sample_ref }}</li>
            <li>Name: {{ sample.dialect_name }}</li>
            <li *ngIf="sample.source_type">Source Type: {{ sample.source_type }}</li>
            <li>Country Code: {{ sample.country_code }}</li>
            <li *ngIf="sample.latitude">Coordinates: {{ sample.latitude }}, {{ sample.longitude }}</li>
        </ul>

    </ng-container>
    <ng-template #SamplesList>
        <h3>Samples</h3>
        <div id="selected">
            <ng-container *ngFor="let s of samples">
                <span *ngIf="s.selected==true" class="me-2 selected">
                    ({{s.sample_ref}}):{{s.dialect_name}}
                    <button type="button" class="btn-close small" (click)="s.selected=false"><i class="bi bi-x"></i></button>
                </span>
            </ng-container>
        </div>
        <ul>
            <li *ngFor="let sample of samples">
                <input type="checkbox" [(ngModel)]="sample.selected" class="me-1">
                {{ sample.sample_ref }}: 
                <a [routerLink]="['/samples', sample.sample_ref]">
                    {{ sample.dialect_name }}
                </a>
            </li>
        </ul>
    </ng-template>
</div>