<div>
    <ng-container *ngIf="sample!=null; else SamplesList">
        <h3>Sample Detail</h3>
        <ul>
            <li>Ref: {{ sample.sample_ref }}</li>
            <li>Name: {{ sample.dialect_name }}</li>
            <li *ngIf="sample.source_type">Source Type: {{ sample.source_type }}</li>
            <li>Country Code: {{ sample.country_code }}</li>
            <li *ngIf="sample.latitude">Coordinates: {{ sample.latitude }}, {{ sample.longitude }}</li>
        </ul>

    </ng-container>
    <ng-template #SamplesList>
        <h1>Samples</h1>
        <ul>
            <li *ngFor="let sample of samples">
                {{ sample.sample_ref }}: 
                <a [routerLink]="['/samples', sample.sample_ref]">
                    {{ sample.dialect_name }}
                </a>
            </li>
        </ul>
    </ng-template>
</div>