<div id="selected">
    <ng-container *ngFor="let s of samples$ | async">
        <span *ngIf="s.selected==true" class="me-2 selected">
            ({{s.sample_ref}}):{{s.dialect_name}}
            <button type="button" class="btn-close small" (click)="s.selected=false"><i class="bi bi-x"></i></button>
        </span>
    </ng-container>
</div>
<ul>
    <li *ngFor="let sample of samples$ | async">
        <input *ngIf="link=='select'" type="checkbox" (click)="onSampleSelect(sample)" class="me-1">
        {{ sample.sample_ref }}:
        <a *ngIf="link=='detail'" [routerLink]="['/samples', sample.sample_ref]">
            {{ sample.dialect_name }}
        </a>
        <a *ngIf="link=='phrases'" [routerLink]="['/phrases', sample.sample_ref]">
            {{ sample.dialect_name }}
        </a>
        <button *ngIf="link=='select'" (click)="onSampleSelect(sample)" class="btn btn-link p-0">
            {{ sample.dialect_name }}
        </button>
    </li>
</ul>
<div *ngIf="errorMessage.length > 0">
    <p class="text-danger">{{ errorMessage }}</p>
</div>