<div *ngIf="loggedIn" class="container mt-5">
    <p>You are logged in.</p>
    <button class="btn btn-secondary"><a (click)="logout()">Logout</a></button>
</div>
<div class="container mt-5" *ngIf="!loggedIn">
    <div class="row justify-content-center" *ngIf="!showRegister">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Login</h2>
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="username" name="username" required 
                            formControlName="username"
                            [class.is-invalid]="username.touched && username.invalid">
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password" name="password" required formControlName="password"
                            [class.is-invalid]="password.touched && password.invalid">
                        </div>
                        <div *ngIf="password.touched && password.invalid" class="error text-danger">
                            <p *ngIf="password.errors?.['required']">Password is required.</p>
                            <p *ngIf="password.errors?.['minlength']">
                                Password must be at least 6 characters long.
                            </p>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block mt-3" [disabled]="loginForm.invalid">
                            Login
                        </button>
                        <br>
                        <div class="spinner-border mt-3" *ngIf="loading"></div>
                        <div *ngIf="errorMessage.length > 0" class="text-danger error mt-3">
                            <p>{{errorMessage}}</p>
                        </div>
                    </form>
                    <button id="show-register" class="btn btn-link btn-block mt-3" (click)="showRegister=true">Register</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3" id="register-section" *ngIf="showRegister">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Register</h2>
                    <form>
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="register-email">Email:</label>
                            <input type="email" class="form-control" id="register-email" name="register-email" required>
                        </div>
                        <div class="form-group">
                            <label for="register-password">Password:</label>
                            <input type="password" class="form-control" id="register-password" name="register-password" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block mt-3" disabled>Register currently disabled</button>
                        <p>
                            <button class="btn btn-link btn-block mt-3" (click)="showRegister=false">Back to login</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('show-register').addEventListener('click', function(event) {
        event.preventDefault();
        document.getElementById('register-section').style.display = 'block';
    });
</script>