<div class="container">
  <h1>Romani Project Language Database</h1>
  <p>A project implemented by the Academy of Sciences of Austria</p>
  <h4>Navigation (Test)</h4>
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><a routerLink="/users" routerLinkActive="active">Users</a></li>
      <li><a routerLink="/data" routerLinkActive="active">Data</a></li>
      <li><a routerLink="/samples" routerLinkActive="active">Samples</a></li>
      <li><a routerLink="/categories" routerLinkActive="active">Categories</a></li>
    </ul>
  </nav>
  <router-outlet />
</div>

