<h2>Romani Morpho-Syntax Database</h2>

<i class="bi bi-volume-off-fill"></i>

<p>Welcome to the Romani Morpho-Syntax Database (RMS).</p>
<p class="text-strong">User Login is not required in order to browse or search data</p>

<h2>Info</h2>
<p>Concept: Yaron Matras & Viktor Elšík (with Christa Schubert)</p>
<p>Design and Development: Christopher White</p>
<p>Data archive: Charlotte Jones, Ruth Hill</p>

<p>Technical support and data processing: Hazel Gardner, Ruth Hill, Charlotte Jones, Daniele Viktor Leggio, Christa</p>
<p>Schubert, Veronica Schulman, Anton Tenser, Eliška Vránová, Laura Arman</p>

<p>The project was also supported by the Economic and Social Research Council (Grant no. RES-000-23-1133) ESRC logo</p>