<h1>Search</h1>
<h4 class="mt-3">Step 1: Choose samples</h4>
<p>Which Romani datasets are you interested in?</p>
<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#chooseDialectModal">Choose sample</button>
<div id="dialects" class="mt-3">
    <ul *ngIf="selectedSamples.length > 0" id="selectedSamples">
        <li *ngFor="let sample of selectedSamples">
            {{ sample.dialect_name }}
            <button type="button" class="btn-close small" (click)="toggleSample(sample)"></button>
        </li>
    </ul>
    <p *ngIf="selectedSamples.length == 0" class="text-secondary">No samples selected.</p>
</div>

<h4 class="mt-3">Step 2: Choose categories</h4>
<p>What do you want to examine?</p>
<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#chooseCategoryModal">Choose category</button>
<div id="categories" class="mt-3">
    <ul id="selectedCategories">
        <li *ngFor="let c of selectedCategories">
            {{ c.name }}
            <button type="button" class="btn-close small" (click)="deselectCategory(c)"></button>
        </li>
    </ul>
    <p *ngIf="selectedCategories.length == 0" class="text-secondary">No categories selected.</p>
</div>

<h4 class="mt-3">Alternative: Load a previous search</h4>
Search parameter in JSON format:
<input type="text" class="form-control mt-1" placeholder="Search parameter">
<button class="btn btn-success mt-3" data-bs-toggle="modal" data-bs-target="#warningModal">Search</button>

<div id="result" class="mt-3">
    <h4>Search result</h4>
    <p *ngIf="searchString == ''" class="text-secondary">Press Search to see a result</p>
    <p *ngIf="searchString != ''">{{ searchString }}</p>

</div>

<!-- Modals -->
<div class="modal fade" id="chooseDialectModal" tabindex="-1" aria-labelledby="chooseDialectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header sticky-top bg-white">
                <h5 class="modal-title" id="chooseDialectModalLabel">Choose Samples</h5>
                <button type="button" class="btn btn-secondary ms-auto" data-bs-dismiss="modal" aria-label="Close">Finished</button>
            </div>
            <div class="p-3">
                <div class="form-check form-switch">                    
                    <input type="checkbox" class="form-check-input" role="switch" [(ngModel)]="pub" (click)="togglePub()">
                    <label class="form-check-label">Include publications</label>
                </div>
                <div class="form-check form-switch">                    
                    <input type="checkbox" class="form-check-input" role="switch" [(ngModel)]="migrant" (click)="toggleMigrant()">
                    <label class="form-check-label">Include migrant samples</label>
                </div>
            </div>
            <div class="modal-body">
                <p>Number of samples: {{ filteredSamples.length }}</p>
                <ul>
                    <li *ngFor="let sample of filteredSamples">
                        <input type="checkbox" class="me-1" [(ngModel)]="sample.selected" (click)="toggleSample(sample)">
                        {{ sample.sample_ref }}:
                        <button (click)="toggleSample(sample)" class="btn btn-link p-0">
                            {{ sample.dialect_name }}
                        </button>
                    </li>
                </ul>
            </div>
            <div class="modal-footer mt-2 d-flex justify-content-center">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="chooseCategoryModal" tabindex="-1" aria-labelledby="chooseCategoryModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header sticky-top bg-white">
                <h5 class="modal-title" id="chooseCategoryModalLabel">Choose Linguistic Categories</h5>
                <button type="button" class="btn btn-secondary ms-auto" data-bs-dismiss="modal"
                    aria-label="Close">Finished</button>
            </div>
            <div class="modal-body">
                <!-- Category options -->
                <ul class="list-unstyled">
                    <li *ngFor="let c of categories">
                        <span *ngIf="c.has_children">
                            <button (click)="expandCategory(c)" class="btn btn-link p-0" data-bs-dismiss="modal">
                                {{c.name}} >
                            </button>
                        </span>
                        <span *ngIf="!c.has_children">
                            <input type="checkbox" class="me-1" [(ngModel)]="c.selected" (click)="toggleCategory(c)">
                            <button (click)="toggleCategory(c)" class="btn btn-link p-0">
                                {{c.name}}
                            </button>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="modal-footer mt-2 d-flex justify-content-center">
                <button type="button" class="btn btn-secondary me-3" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="warningModal" tabindex="-1" aria-labelledby="warningModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-warning" id="warningModalLabel">Notice</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-secondary">
                <p>This functionality will be provided once the databases are ready.</p>
            </div>
        </div>
    </div>
</div>