<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>Search</h1>
  <div *ngIf="searchStateService.hasSearchSelections()">
    <button class="btn btn-outline-secondary me-2" routerLink="/views">Go to Views</button>
    <button class="btn btn-outline-danger" (click)="clearAllSelections()">Clear All</button>
  </div>
</div>

<h4 class="mt-3">Step 1: Choose research questions</h4>
<p>What do you want to examine?</p>
<button class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#chooseCategoryModal">Choose questions</button>
or
<button class="btn btn-primary ms-2" data-bs-toggle="modal" data-bs-target="#searchCategoryModal">Search questions</button>
<div id="categories" class="mt-3">
    <ul id="selectedCategories" class="d-flex flex-wrap">
        <li *ngFor="let c of selectedCategories">
            {{ c.hierarchy.slice(0, -1).join(' > ') }}<span *ngIf="c.hierarchy.length > 1"> > </span><span class="fw-bold">{{ c.name }}</span>
            <button type="button" class="btn-close small" (click)="deselectCategory(c)"></button>
        </li>
    </ul>
    <p *ngIf="selectedCategories.length == 0" class="text-secondary">No categories selected.</p>
</div>

<h4 class="mt-3">Step 2: Choose samples</h4>
<p>Which Romani datasets are you interested in?</p>
<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#chooseDialectModal">Choose sample</button>
<div id="dialects" class="mt-3">
    <ul *ngIf="selectedSamples.length > 0" id="selectedSamples" class="d-flex flex-wrap">
        <li *ngFor="let sample of selectedSamples">
            {{ sample.sample_ref }}
            <span *ngIf="sample.dialect_name" class="text-muted">{{ sample.dialect_name }}</span>
            <button type="button" class="btn-close small" (click)="toggleSample(sample)"></button>
        </li>
    </ul>
    <p *ngIf="selectedSamples.length == 0" class="text-secondary">No samples selected, using all by default.</p>
</div>

<h4 class="mt-3">Alternative: Load a previous search</h4>
Search parameter in JSON format:
<div class="mt-1 d-flex align-items-center">
    <input type="text" class="form-control me-2" placeholder="Search parameter" 
        [(ngModel)]="searchString" (input)="onSearchStringChange()" (keyup.enter)="search()">
        <i class="bi bi-copy" (click)="copySearchString()"></i>
</div>

<!-- Copy Clipboard Success Toast -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 1055">
    <div class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive"
        aria-atomic="true" #copySuccessToast id="copySuccessToast" data-bs-delay="3000">
        <div class="d-flex">
            <div class="toast-body">
                Copied to clipboard!
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                aria-label="Close"></button>
        </div>
    </div>
</div>

<div class="mt-3">
    <button class="btn btn-success" (click)="search()">Search</button>
</div>

<div *ngIf="status" class="mt-3 alert" [ngClass]="getStatusClass()">
    {{ status }}
</div>

<!-- Modals -->
<div class="modal fade" id="chooseDialectModal" tabindex="-1" aria-labelledby="chooseDialectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header sticky-top bg-white">
                <h5 class="modal-title" id="chooseDialectModalLabel">Choose Samples</h5>
                <button type="button" class="btn btn-secondary ms-auto" data-bs-dismiss="modal" aria-label="Close">Finished</button>
            </div>
            <div class="p-3">
                <div class="form-check form-switch">                    
                    <input type="checkbox" class="form-check-input" role="switch" [(ngModel)]="pub" (click)="togglePub()">
                    <label class="form-check-label">Include publications</label>
                </div>
                <div class="form-check form-switch">                    
                    <input type="checkbox" class="form-check-input" role="switch" [(ngModel)]="migrant" (click)="toggleMigrant()">
                    <label class="form-check-label">Include migrant samples</label>
                </div>
            </div>
            <div class="modal-body">
                <p>Number of samples: {{ filteredSamples.length }}</p>
                <ul>
                    <li *ngFor="let sample of filteredSamples">
                        <input type="checkbox" class="me-1" [(ngModel)]="sample.selected" (click)="toggleSample(sample)">
                        {{ sample.sample_ref }}:
                        <button (click)="toggleSample(sample)" class="btn btn-link p-0">
                            {{ sample.dialect_name }}
                        </button>
                    </li>
                </ul>
            </div>
            <div class="modal-footer mt-2 d-flex justify-content-center">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="chooseCategoryModal" tabindex="-1" aria-labelledby="chooseCategoryModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header sticky-top bg-white">
                <h5 class="modal-title" id="chooseCategoryModalLabel">Choose Linguistic Categories</h5>
                <button type="button" class="btn btn-secondary ms-auto" data-bs-dismiss="modal"
                    aria-label="Close">Finished</button>
            </div>
            <div class="modal-body">
                <!-- Category options -->
                <ul class="list-unstyled">
                    <li *ngFor="let c of getFlattenedCategories()" [style.margin-left.px]="c.level * 20">
                        <span *ngIf="c.has_children">
                            <button (click)="expandCategory(c)" class="btn p-0">
                                <span *ngIf="isCategoryLoading(c)">⏳</span>
                                <span *ngIf="!isCategoryLoading(c)">{{ isCategoryExpanded(c) ? '▼' : '▶' }}</span>
                            </button>
                            {{c.name}}
                        </span>
                        <span *ngIf="!c.has_children">
                            <input type="checkbox" class="me-1" [checked]="isCategorySelected(c)" 
                            (click)="toggleCategory(c)" [disabled]="c.id > 340">
                            <span (click)="c.id > 340 ? notImported() : toggleCategory(c)" 
                                  [class]="c.id > 340 ? 'text-muted' : 'btn p-0'">
                                {{c.name}}
                            </span>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="modal-footer mt-2 d-flex justify-content-center">
                <button type="button" class="btn btn-secondary me-3" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="searchCategoryModal" tabindex="-1" aria-labelledby="searchCategoryModalLabel"
    aria-hidden="true" (shown.bs.modal)="focusCategorySearch()">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header sticky-top bg-white">
                <h5 class="modal-title" id="searchCategoryModalLabel">Search for Linguistic Categories</h5>
                <button type="button" class="btn btn-secondary ms-auto" data-bs-dismiss="modal"
                    aria-label="Close">Finished</button>
            </div>
            <div class="modal-body">
                <!-- Category search -->
                 <input type="text" class="form-control mb-2" placeholder="Search categories"
                    [(ngModel)]="categorySearchString" (input)="searchCategories()" #categorySearchInput>
                <ul class="list-unstyled" id="foundCategories">
                    <li *ngFor="let c of categorySearchResults">
                        <input type="checkbox" [checked]="isCategorySelected(c)"
                        (click)="toggleCategory(c)" [disabled]="c.id > 340 || c.has_children">
                        <span (click)="(c.id > 340 || c.has_children) ? (c.id > 340 ? notImported() : null) : toggleCategory(c)" 
                              [class]="(c.id > 340 || c.has_children) ? 'text-muted text-start flex-grow-1' : 'btn p-0 text-start flex-grow-1'">
                            {{ c.hierarchy.slice(0, -1).join(' > ') }}<span *ngIf="c.hierarchy.length > 1"> > </span><span class="fw-bold">{{ c.name }}</span>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="modal-footer mt-2 d-flex justify-content-center">
                <button type="button" class="btn btn-secondary me-3" 
                *ngIf="categorySearchResults.length > 15" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="warningModal" tabindex="-1" aria-labelledby="warningModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-warning" id="warningModalLabel">Notice</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-secondary">
                <p>This functionality will be provided once the databases are ready.</p>
            </div>
        </div>
    </div>
</div>